button{
    background-color: $secondaryColor;
    padding: 2% 4%;
    border: none;
    margin-bottom: 4%;
    a{
        text-decoration: none;
        color: $primaryColor;
        font-family: $secondaryFont;
        text-transform: uppercase;
    }
}
button:hover{
    cursor: pointer;
    background-color: rgb(142, 187, 232);
    transition: 1.2s;
}