footer{
    width: 100%;
    height: auto;
    background-color: #232323;
    color: $primaryColor;
    .footer_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: $primaryFont;
        padding: 5%;
        h4{
            font-size: 24px;
        }
        p{
            font-size: 16px;
        }
        .social-icons{
            display: flex;
            flex-direction: row;
            justify-content: center;
            :nth-child(2){
                color: #f0f2f5;
            }
            :nth-child(3){
                color: #1970b3;
            }
            :nth-child(4){
                color: #e6e9ef;
            }
            i{
                margin: 6%;
            }
            i:hover{
                cursor: pointer;
                transition: 0.2s;
                color: rgb(11, 245, 245);
            }

        }
    }
}