.header-up{
    height: auto;
    background-image: url(../images/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $primaryColor;
    font-family: $primaryFont;
    h1{
        font-size: 48px;
    }
    h4{
        font-size: 22px;
    }
    img{
        margin-bottom: 15%;
    }
}
.search-container{
    width: 60%;
    form{
        display: grid;
        grid-template-columns: 3fr 1fr;
        ::placeholder{
            font-size: 14px;
            font-family: $primaryFont;
        }
        input{
            width: 100%;
            padding: 3%;
            grid-column: 1/2;
        }
        .header_btn{
            grid-column: 2/3;
            padding: 5% 7%;
            color: $primaryColor;
        }
    }
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $secondaryColor;
    .logo{
        color: $primaryColor;
        margin-left: 7%;
    }
    ul{
        width: 40%;
        list-style: none;
        display: flex;
        justify-content: space-between;
        :nth-child(4){
            margin-right: 7%;
        }
        a{
            text-decoration: none;
            color: $primaryColor;
        }
    }
}
