.capitalize{
    text-transform: uppercase;
}
// first section styling starts here
.first-section{
    height: auto;
    background-image: url(../images/image2.png);
    background-repeat: no-repeat;
    background-size: cover;
    .wrapper{
        display: flex;
        padding: 5%;
        .left_section{
            width: 50%;
            padding: 5%;
            color: $primaryColor;
            h2{
                font-family: $secondaryFont;
                font-size: 36px;
                margin-bottom: 5%;
                text-transform: capitalize;
            }
            p{
                font-family: $primaryFont;
                font-size: 16px;
                margin-bottom: 5%;
            }
        }
        .right_section{
            padding: 5%;
            width: 40%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            img{
                width: 80%;
                margin-bottom: 4%;
            }
            :nth-child(1){
                grid-column: 1/3;
                grid-row: 1/2;
            }
            :nth-child(2){
                grid-column: 2/4;
                grid-row: 2/3;
            }
        }
    }
}

// second section styling starts here
.second-section{
    background-color: #333333;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    .second-section_wrapper{
        width: fit-content;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(150px, auto);
        justify-items: center;
        grid-gap: 5%;
        align-self: center;
        :nth-child(1){
            grid-column: 1/4;
            grid-row: 1/2;
        }
        .first_icon{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .second_icon{
            grid-column: 2/3;
            grid-row: 2/3; 
        }
        .third_icon{
            grid-column: 3/4;
            grid-row: 2/3;
        }
        p{
            color: $primaryColor;
            font-size: 36px;
            font-family: $secondaryFont;
        }
    }
}

// third section styling starts here
.third-section{
    background-image: url(../images/image3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    display: flex;
    align-items: flex-end;
    .third-section_wrapper{
        background-color: #232323;
        opacity: 0.9;
        color: $primaryColor;
        width: 40%;
        padding: 5%;
        margin: 8% 7%;
        font-family: $primaryFont;
        h3{
            font-size: 20px;
            width: fit-content;
        }
        p{
            font-size: 16px;
            width: fit-content;
        }
        button{
            width: fit-content;
        }
    }
}

// forth section styling starts here
.forth-section{
    background-image: url(../images/image4.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .forth-section_wrapper{
        background-color: #232323;
        opacity: 0.9;
        color: $primaryColor;
        width: 40%;
        padding: 5%;
        margin: 8% 7%;
        font-family: $primaryFont;
        
        h3{
            font-size: 20px;
            width: fit-content;
        }
        p{
            font-size: 16px;
            width: fit-content;
        }
        button{
            width: fit-content;
        }
    }
}

// fifth section styling starts here
.fifth-section{
    background-image: url(../images/image5.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: $primaryColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2{
        font-size: 36px;
        font-family: $secondaryFont;
    }
    .fifth-section_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fifth-section_content{
        display: flex;
        justify-content: center;
        margin: 0% 5%;
        img{
            width: 30%;
        }
        p{
            padding: 0% 5%;
            font-size: 12px;
            font-family: $tertiaryFont;
        }
        .name{
            font-size: 20px;
            font-family: $tertiaryFont;
        }
        .right_content{
            background-color: #232323;
            padding: 4%;
        }
    }
}
@media screen and (max-width: 768px){
    .second-section_wrapper{
        .first_icon p, .second_icon p, .third_icon p{
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 768px){
    .fifth-section_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            text-align: center;
        }
        h2{
            text-align: center;
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 480px){
        h2{
            text-align: center;
            font-size: 10px;
        }
    }
}
