button {
  background-color: #5474FD;
  padding: 2% 4%;
  border: none;
  margin-bottom: 4%;
}
button a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Aleo", serif;
  text-transform: uppercase;
}

.header-up {
  height: auto;
  background-image: url(../images/image.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
}
.header-up h1 {
  font-size: 48px;
}
.header-up h4 {
  font-size: 22px;
}
.header-up img {
  margin-bottom: 15%;
}

.search-container ::-moz-placeholder {
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
}

.search-container ::placeholder {
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #5474FD;
}
nav .logo {
  color: #FFFFFF;
  margin-left: 7%;
}
nav ul {
  width: 40%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
nav ul :nth-child(4) {
  margin-right: 7%;
}
nav ul a {
  text-decoration: none;
  color: #FFFFFF;
}

.capitalize {
  text-transform: uppercase;
}

.first-section {
  height: auto;
  background-image: url(../images/image2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.first-section .wrapper {
  display: flex;
  padding: 5%;
}
.first-section .wrapper .left_section {
  width: 50%;
  padding: 5%;
  color: #FFFFFF;
}
.first-section .wrapper .left_section h2 {
  font-family: "Aleo", serif;
  font-size: 36px;
  margin-bottom: 5%;
  text-transform: capitalize;
}
.first-section .wrapper .left_section p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 5%;
}
.first-section .wrapper .right_section {
  padding: 5%;
  width: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.first-section .wrapper .right_section img {
  width: 80%;
  margin-bottom: 4%;
}
.first-section .wrapper .right_section :nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/2;
}
.first-section .wrapper .right_section :nth-child(2) {
  grid-column: 2/4;
  grid-row: 2/3;
}

.second-section {
  width: 100%;
  background-color: #333333;
  height: auto;
}
.second-section .second-section_wrapper {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.second-section .second-section_wrapper :nth-child(1) {
  grid-column: 1/4;
  grid-row: 1/2;
}
.second-section .second-section_wrapper .icons {
  display: grid;
}
.second-section .second-section_wrapper .icons .first_icon {
  grid-column: 1/2;
  grid-row: 2/3;
}
.second-section .second-section_wrapper .icons .second_icon {
  grid-column: 2/3;
  grid-row: 2/3;
}
.second-section .second-section_wrapper .icons .third_icon {
  grid-column: 3/4;
  grid-row: 2/3;
}

.third-section {
  background-image: url(../images/image3.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.third-section .third-section_wrapper {
  background-color: #232323;
  opacity: 0.9;
  color: #FFFFFF;
  width: 40%;
  height: 30%;
  padding: 5%;
  margin: 8% 7%;
  font-family: "Josefin Sans", sans-serif;
}
.third-section .third-section_wrapper h3 {
  font-size: 20px;
}
.third-section .third-section_wrapper p {
  font-size: 16px;
}

.forth-section {
  background-image: url(../images/image4.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.forth-section .forth-section_wrapper {
  background-color: #232323;
  opacity: 0.9;
  color: #FFFFFF;
  width: 40%;
  height: 30%;
  padding: 5%;
  margin: 8% 7%;
  font-family: "Josefin Sans", sans-serif;
}
.forth-section .forth-section_wrapper h3 {
  font-size: 20px;
}
.forth-section .forth-section_wrapper p {
  font-size: 16px;
}

.fifth-section {
  background-image: url(../images/image5.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fifth-section .fifth-section_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fifth-section .fifth-section_content {
  display: flex;
  justify-content: center;
  width: 70%;
}
.fifth-section .fifth-section_content img {
  width: 30%;
}
.fifth-section .fifth-section_content p {
  padding: 0% 5%;
}
.fifth-section .fifth-section_content .right_content {
  background-color: #000000;
  padding: 4%;
}

body {
  line-height: 1.5;
}/*# sourceMappingURL=index.css.map */